<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Text goes here</h2>
                    <h3 class="section-subheading text-muted">Text goes here</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011-2014</h4>
                                    <h4 class="subheading">Text goes here</h4>
                                </div>
                                <div class="timeline-body">
                                        <ul>
                                            <li>    
                                                <p class="text-muted">
                                                Text goes here
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">
                                                Text goes here
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">
                                                Text goes here
                                                </p>
                                                </li>
                                        </ul>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013-2014</h4>
                                    <h4 class="subheading">Text goes here</h4>
                                </div>
                                <div class="timeline-body">
                                    <ul>
                                            <li>    
                                                <p class="text-muted">
                                               Text goes here
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">
                                                 Text goes here
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">Text goes here
                                                </p>
                                            </li>
                                            <li>
                                                <p class="text-muted">Text goes here
                                                </p>
                                            </li>
                                        </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Text goes here</h4>
                                    <h4 class="subheading">Text goes here</h4>
                                </div>
                                <div class="timeline-body">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>