<!-- History Section -->
    <section id="history" class="bg-png">
               <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our History</h2>
                    <div style="text-align:left; margin-top:20px;">
                    <p>In 1927, R.E. Willson started a produce brokerage company to service the retailers and food service businesses of San Antonio and surrounding areas. Six years later in 1933, Willson’s nephew, Willson Davis, joined the family business and the duo ran the produce brokerage firm together for the next three decades. In 1968, Willson Davis’ son, Willson Davis Jr., joined the company. The father and son team worked together for 6 years when Jr. was promoted to president in 1974. He was responsible for changing the company name to its current title Willson Davis Company after his father retired.</p><p>
	In 1981, Willson Davis Jr. invited his nephew, Sidney Williams IV, to join the family business. Again, the firm returned to an uncle-nephew team. In July 2000, Willson Davis Jr. passed away and Sidney Williams IV took over as president and owner. In those years since Willson Jr. passed, Williams has surrounded himself with a fine staff. In 2016, Williams asked his son Johnston, (Sidney Johnston Williams V) to come on board returning the company to a father-son team again.</p><p>
	Since the Willson Davis Company has been around for 89 years, we have relationships that have crossed many generations with some of the finest produce shippers in the country. We are excited to be able to bring their quality products to the retail and food service businesses of South Texas. We are looking forward to doing business for many more years to come.  </p></div>
                </div>
            </div>
            <div class="row">
            {% for post in site.posts %}
                <div class="col-md-4 col-sm-6 portfolio-item" style="margin-top:30px;">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="" >
                    </a>
                </div> 
            {% endfor %}
            </div>
        </div>
    </section>
